DISCORD_TOKEN=
CLIENT_ID=
GUILD_ID=1412808625017065544

DATABASE_PATH=/home/container/data/recruiter.db
GUILD_CONFIG_PATH=/home/container/configs/clan_b.json
ANTINUKE_DATA_FILE=/home/container/data/antinuke_data.local.json

OWNER_ID=
ANTINUKE_OWNER_ID=
ANTINUKE_ENCRYPTION_KEY=
ANTINUKE_REQUIRE_ENCRYPTION=true
NODE_ENV=production
